<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AA104G3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  
  
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginVerificationFilter</filter-name>
    <filter-class>filters.LoginVerificationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginVerificationFilter</filter-name>
    <url-pattern>/select_page.jsp</url-pattern>
  </filter-mapping>
  
  
  
  
  
  
  
  
  <servlet>
    <servlet-name>product</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product</servlet-name>
    <url-pattern>/product/product.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showpicture</servlet-name>
    <servlet-class>com.product.controller.ShowPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showpicture</servlet-name>
    <url-pattern>/product/ShowPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>com.cart.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product_class</servlet-name>
    <servlet-class>com.product_class.controller.Product_classServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_class</servlet-name>
    <url-pattern>/product_class/product_class.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product_report</servlet-name>
    <servlet-class>com.product_report.controller.Product_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_report</servlet-name>
    <url-pattern>/product_report/product_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>store_report</servlet-name>
    <servlet-class>com.store_report.controller.Store_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>store_report</servlet-name>
    <url-pattern>/store_report/store_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>team_report</servlet-name>
    <servlet-class>com.team_report.controller.Team_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>team_report</servlet-name>
    <url-pattern>/team_report/team_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orders</servlet-name>
    <servlet-class>com.orders.controller.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/orders/orders.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
</web-app>